{% extends "base.html" %}

{% block content %}

{% if product %}
<div class="detail-wrapper">

    <div class="detail-card">
        <!-- IMAGE -->
        <div class="detail-image">
            <img src="{{ url_for('static', filename='uploads/' ~ product.image) }}">
        </div>

        <!-- INFO -->
        <div class="detail-info">
            <h1>{{ product.name }}</h1>

            <p class="price">€{{ product.price }}</p>

            <p class="description">
                {{ product.description }}
            </p>

            <a href="{{ url_for('index') }}" class="back-btn">← Back</a>
        </div>
    </div>

</div>
{% else %}
<p>Product not found</p>
{% endif %}

{% endblock %}